/* Define color variables */
:root {
    --black: #333;
    --secondary-color: #f4f4f4;
    --section-bg-1: #f1f1f1; /* Different color for sections */
    --portfolio-bg: #fff;
    --border-color: #ddd;
    --footer-text-color: #fff;
    --blue: #7caffb;
    --pink: #dc5b80;
    --green: #33c371;
}

/* General Styles */
body {
    font-family: 'Georgia', serif;
    background-color: var(--portfolio-bg);
    color: var(--black);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--black);
}

p, details {
    color: #444;
}

/* Sticky Menu Bar */
.navbar {
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--border-color);
}

.navbar-nav .nav-link {
    color: var(--black);
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #222;
}

/* Hero Section */
.hero {
    padding: 100px 0;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Portfolio Section */
.portfolio {
    padding-bottom: 50px;
}

.scientific-publications {
    background-color: var(--section-bg-1);
}

/* Portfolio Item Styles */
.portfolio-item {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}


.portfolio-img {
    width: 100%;       /* Ensure the image takes the full width of its container */
    object-fit: contain; /* Makes the image cover the container without distortion */
}

.image-container {
    height: 100%; /* Match the height of the container */
    overflow: hidden; /* Hide overflow to cut off excess image */
}

.image-container img {
    height: 100%; /* Make the image fill the container's height */
    width: 50%;  /* Make the image responsive */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.portfolio-item h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    color: var(--black);
}

.portfolio-item p {
    font-size: 1rem;
    color: #555;
}

/* Up Next Section */
.tags p {
    color: white;
    padding: 7px;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    margin: 7px;
}

p.in-prep {
    background-color: var(--pink);
    color:white;
}

div.in-prep {
    border-left: 10px solid var(--pink);
    padding-left: 10px;
}

p.public-soc {
    background-color: var(--blue);
    color:white;
}

div.public-soc {
    border-left: 10px solid var(--blue);
    padding-left: 10px;
}

p.under-rev {
    background-color: var(--green);
    color:white;
}

div.under-rev {
    border-left: 10px solid var(--green);
    padding-left: 10px;
}

/* Footer */
.footer {
    background-color: var(--border-color);
    color: var(--footer-text-color);
}

.footer {
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}



