/* Colors */
:root {
    --blue: #A0DDFF;
    --red: #CC2936;
    --purple: #7E52A0;
    --green: #0E7C7B;
    --yellow: #F4D35E;
}

/* General styles */
body {
    font-family: 'Tahoma', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 18px; /* Larger font size */
    color: #333;
}

header {
    text-transform: uppercase;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--yellow);
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 2vw;
    color: var(--green);
    border-bottom: 8px solid var(--green);
}



section {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    background: var(--green);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

.social-links a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
}

.main-header {
    text-align: center;
    padding: 2rem 1rem;
}

.main-header img {
    width: 90vw;
    max-width: 300px; /* caps size on desktop */
    height: auto;
    margin-bottom: 1rem;
    border: 8px solid var(--green);
}

@media (min-width: 768px) {
    .main-header img {
        width: 30vw;
        max-width: 300px;
    }
}




